[Unit]
Description=Day/night gamma adjustments for wayland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 51 -L 0
Restart=on-failure

[Install]
WantedBy=graphical-session.target
